<div class="media media-chat">
    <%= image_tag 'icons8-user-50.png', class: "avatar", alt: 'user' %>
    <div class="media-body">
        <p><%= direct_message.message %></p>
        <p class="meta"><time datetime="2018"><%= time_ago_in_words(direct_message.created_at) %></time></p>
    </div>
</div>