<div class="media media-chat">
    <img class="avatar" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
    <div class="media-body">
        <p><%= direct_message.message %></p>
        <p class="meta"><time datetime="2018"><%= time_ago_in_words(direct_message.created_at) %></time></p>
    </div>
</div>