<h2 class="text-center mt-4">Articles Listing Page</h2>
<div class="text-center flickr_pagination">
    <%= will_paginate @articles, :container => false %>
</div>

<%= render 'article' %>

<div class=" text-center mb-4 flickr_pagination">
    <%= will_paginate @articles, :container => false %>
</div>




