

#home-container{
    margin-top: 25px;
}

.editor-section {
  height: auto;
  gap: 10px;
  margin-top: 10px;
}

.ck-editor__editable {
  min-height: 150px;
  max-height: 150px;
}

.ck-editor__editable a:hover,
.ck-editor__editable a:focus {
  color: inherit !important;
}

.move-up {
  position: relative;
  top: -50px;
  z-index: 100;
  margin-right: 0 !important;
}

.main-section{
  display: flex;
}

.main-content {
  flex: 3;
}

.sidebar {
  flex: 1;
}

.card-header {
  font-size: 1.25rem;
  font-weight: bold;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-title {
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-width: 100%; /* Adjust based on your layout */
}

.list-group-item a {
  color: #000;
  text-decoration: none;
}

.list-group-item a:hover {
  text-decoration: none;
}

.fa-arrow-right {
  color: #000;
}


.jumbotron{
    background-image: asset-url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    height: 425px;
}

flickr_pagination {
    text-align: center;
    padding: 0.3em;
    cursor: default; }
    .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
      padding: 0.2em 0.5em; }
    .flickr_pagination .disabled {
      color: #aaaaaa; }
    .flickr_pagination .current {
      font-style: normal;
      font-weight: bold;
      color: #ff0084; }
    .flickr_pagination a {
      border: 1px solid #dddddd;
      color: #0063dc;
      text-decoration: none; }
      .flickr_pagination a:hover, .flickr_pagination a:focus {
        border-color: #003366;
        background: #0063dc;
        color: white; }
    .flickr_pagination .page_info {
      color: #aaaaaa;
      padding-top: 0.8em; }
    .flickr_pagination .previous_page, .flickr_pagination .next_page {
      border-width: 2px; }
    .flickr_pagination .previous_page {
      margin-right: 1em; }
    .flickr_pagination .next_page {
      margin-left: 1em; }