<h1 class="text-center"> Create New Category</h1>

<div class="container">

 <div class="row justify-content-center">
 <div class="col-10">
 <%= render 'form' %> 
  </div>
<%= link_to '[ Cancel and Return to categories ]', categories_path %>
</div>
</div>